name: Check Project v2
on:
  schedule:
    - cron: "*/5 * * * *" #  5 拽转
  workflow_dispatch:

jobs:
  check-status:
    runs-on: ubuntu-latest
    steps:
      #  爪注 砖住专 :
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Call GraphQL API
        run: |
          curl -H "Authorization: bearer ${{ secrets.PROJECT_TOKEN }}" \
               -X POST \
               -H "Content-Type: application/json" \
               --data-binary @query.json \
               https://api.github.com/graphql > result.json

          echo " 驻 API:"
          cat result.json

      - name: Do something if needed
        if: always()
        run: echo "转 "
